body {
    font-family: "Arial";
    background: #efefef;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}